@import "./core/variants";
@import "./components";
@import "./pages/index.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $background;
  color: $color;
  font-family: "Montserrat", sans-serif;
}
