@import "./core/variants";
@import "./core/animations";
@import "./core/mixins";
@import "./components";
@import "./pages/index.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: $background;
  color: $color;
  font-family: "Montserrat", sans-serif;
}
