@import "../core/variants";

.notification-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;

  width: 100%;

  background: $blue;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 8px 12px;

  h2 {
    font-size: 1rem;
    color: #fff;
  }

  transform: translateY(-100%);

  transition: all 100ms linear;
  cursor: pointer;

  &:hover {
    opacity: 0.95;
  }
}
